modules = ["nodejs-20", "python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cargo", "fontconfig", "gh", "ghostscript", "glib", "gti", "harfbuzz", "libiconv", "libxcrypt", "openssl", "pango", "pkg-config", "rustc", "tree"]

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Coati Payroll"

[[workflows.workflow]]
name = "Coati Payroll"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flask --debug run"
waitForPort = 5000

[deployment]
deploymentTarget = "autoscale"
run = ["flask", "--debug", "run"]
