argon2-cffi
babel
configobj
cryptography
dramatiq[redis]
email_validator
huey
flask
flask-babel
flask-caching
flask-limiter
flask-login
flask-mail
flask-reuploaded
flask-session
flask-sqlalchemy
flask_weasyprint
flask-wtf
mysql-connector-python
openpyxl
orjson
pg8000
python-dateutil
python-ulid
sqlalchemy
redis
waitress
weasyprint
wtforms
