alembic==1.18.1
argon2-cffi
babel
configobj
cryptography
dramatiq[redis]
email_validator
flask
flask-alembic==3.2.0
flask-babel
flask-caching
flask-limiter
flask-login
flask-mail
flask-reuploaded
flask-session
flask-sqlalchemy
flask_weasyprint
flask-wtf
huey
mysql-connector-python
openpyxl
orjson
pg8000
python-dateutil
python-ulid
sqlalchemy
redis
waitress
weasyprint
wtforms
