argon2-cffi
babel
configobj
cryptography
flask
flask-caching
flask-login
flask-mail
flask-reuploaded
flask-session
flask-sqlalchemy
flask_weasyprint
flask-wtf
mysql-connector-python
pg8000
python-ulid
sqlalchemy
redis
waitress
weasyprint
wtforms