{% extends 'base.html' %}
{% from 'macros.html' import render_field, render_messages, render_form_errors %}

{% block content %}
<div class="container">
    {{ render_messages() }}
    {{ render_form_errors(form) }}
    
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>{{ title }}</h2>
        <a href="{{ url_for('employee.index') }}" class="btn btn-secondary">
            <i class="bi bi-arrow-left me-1"></i>{{ _('Volver') }}
        </a>
    </div>

    <div class="card">
        <div class="card-body">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                
                <h5 class="mb-3">{{ _('Información Personal') }}</h5>
                <div class="row">
                    <div class="col-md-3">
                        {{ render_field(form.primer_nombre) }}
                    </div>
                    <div class="col-md-3">
                        {{ render_field(form.segundo_nombre) }}
                    </div>
                    <div class="col-md-3">
                        {{ render_field(form.primer_apellido) }}
                    </div>
                    <div class="col-md-3">
                        {{ render_field(form.segundo_apellido) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        {{ render_field(form.identificacion_personal) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field(form.fecha_nacimiento) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field(form.genero) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        {{ render_field(form.nacionalidad) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field(form.tipo_sangre) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field(form.estado_civil) }}
                    </div>
                </div>
                
                <hr class="my-4">
                <h5 class="mb-3">{{ _('Información Laboral') }}</h5>
                
                <div class="row">
                    <div class="col-md-4">
                        {{ render_field(form.fecha_alta) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field(form.fecha_baja) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field(form.tipo_contrato) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        {{ render_field(form.cargo) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field(form.area) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field(form.centro_costos) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        {{ render_field(form.salario_base) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field(form.moneda_id) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field(form.activo) }}
                    </div>
                </div>
                
                <hr class="my-4">
                <h5 class="mb-3">{{ _('Información de Contacto') }}</h5>
                
                <div class="row">
                    <div class="col-md-6">
                        {{ render_field(form.correo) }}
                    </div>
                    <div class="col-md-6">
                        {{ render_field(form.telefono) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        {{ render_field(form.direccion) }}
                    </div>
                </div>
                
                <hr class="my-4">
                <h5 class="mb-3">{{ _('Información Bancaria') }}</h5>
                
                <div class="row">
                    <div class="col-md-6">
                        {{ render_field(form.banco) }}
                    </div>
                    <div class="col-md-6">
                        {{ render_field(form.numero_cuenta_bancaria) }}
                    </div>
                </div>
                
                <div class="mt-4">
                    {{ form.submit(class="btn btn-primary") }}
                    <a href="{{ url_for('employee.index') }}" class="btn btn-secondary">{{ _('Cancelar') }}</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
