{#-
SPDX-License-Identifier: Apache-2.0
SPDX-FileCopyrightText: 2025 - 2026 BMO Soluciones, S.A.
-#}

{% extends 'base.html' %}
{% from 'macros.html' import render_field, render_form_errors %}

{% block content %}
<div class="container">
    {{ render_form_errors(form) }}
    
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>{{ titulo }}</h2>
        <a href="{{ url_for('empresa.index') }}" class="btn btn-secondary">
            <i class="bi bi-arrow-left me-1"></i>{{ _('Volver') }}
        </a>
    </div>

    <div class="card">
        <div class="card-body">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                
                <div class="row">
                    <div class="col-md-6">
                        {{ render_field(form.codigo) }}
                    </div>
                    <div class="col-md-6">
                        {{ render_field(form.ruc) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        {{ render_field(form.razon_social) }}
                    </div>
                    <div class="col-md-6">
                        {{ render_field(form.nombre_comercial) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        {{ render_field(form.direccion) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        {{ render_field(form.telefono) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field(form.correo) }}
                    </div>
                    <div class="col-md-4">
                        {{ render_field(form.sitio_web) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        {{ render_field(form.representante_legal) }}
                    </div>
                    <div class="col-md-6">
                        {{ render_field(form.activo) }}
                    </div>
                </div>
                
                <div class="mt-4">
                    {{ form.submit(class="btn btn-primary") }}
                    <a href="{{ url_for('empresa.index') }}" class="btn btn-secondary">{{ _('Cancelar') }}</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
