name: Publish to PyPi
on:
  workflow_run:
    workflows: ["Unit Testing"]
    types:
      - completed
    branches:
      - main
jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    environment:
      name: pypi
      url: https://pypi.org/p/coati-payroll
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3
      uses: actions/setup-python@v3
      with:
        python-version: 3.11
    - name: Install build
      run: |
        python -m pip install build wheel
    - name: Build a binary wheel and a source tarball
      run: |
        pybabel compile -d coati_payroll/translations
        python -m build --sdist --wheel --outdir dist/ .
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      continue-on-error: true
